/*---- font----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;

}
/* header style */
.top-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #2D25A0;
    grid-column-gap: 102px;  
}
h1{
    font-size: 50px;
}
.banner-info{
    width: 485px;
    margin-left: 156px;
    margin-top: 200px;
    color: #FFFFFF;

}
.banner-info a{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;

}
.banner img{
    width: 556px;
    height: 438px;
    margin-top: 153px; 
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container{
    margin-top: 70px;
}
/* players style */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.player img{
    width: 330px;
    height: 256px;
}
/* footer style */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 483px;
    height: 110px;
}
.icon a{
    color: #0B0D17;
    background-color: #969BAB;
    border-radius: 50%;
    font-size: 18px;
    padding: 10px;
}
.copyright{
    font-size: 20px;
    font-weight: 400;
}
.achievement{
    display: flex;
    width: 50%;
}
.achievement-detail{
    width: 100%;
    border: 2px  solid rgba(6, 127, 248, 0.856);
    padding: 10px;
    margin-left: 100px;
    box-shadow: 10px 10px 40px slategrey;
} 