/*---- font----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common style or utilities */
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

/* Top section styles */
.top-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #2D25A0;
    grid-column-gap: 102px;  
}
h1{
    font-size: 50px;
}
.banner-info{
    /* width: 485px; */
    margin-left: 156px;
    margin-top: 200px;
    color: #FFFFFF;
    transition: width 1s, height 1s, transform 1s;
}
.banner-info:hover{
    width: 600px;
    color: brown;
}
.banner-info a{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;

}
.banner img{
    width: 556px;
    height: 438px;
    margin-top: 153px; 
}
/* players style */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.player img{
    width: 330px;
    height: 256px;
}
/* Achievement styles */
.achievement{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
}
.achievement-detail{
    border: 2px  solid rgba(61, 62, 63, 0.856);
    padding: 15px;
    box-shadow: 10px 10px 40px slategrey;
} 
/* footer style */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 483px;
    height: 110px;
}
.icon a{
    color: #0B0D17;
    background-color: #969BAB;
    border-radius: 50%;
    font-size: 18px;
    padding: 10px;
}
.copyright{
    font-size: 20px;
    font-weight: 400;
}

/* Media Queries */

/* Mobile Device */
@media only screen and (max-width:600px) {
    .container{
        width: 100%;
    }
    .top-banner, .players, .achievement{
        grid-template-columns: repeat(1, 1fr);
      

    }   
}
/* Tablet/ipad devices */
@media only screen and (min-width:600px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .top-banner, .achievement{
        grid-template-columns: repeat(1, 1fr);
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
    